* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #68b0ab;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.birthday-cake {
    position: relative;
    width: 350px;
    height: 400px;
}

/* =========================
   HOLDER
========================= */

.holder {
    position: absolute;
    width: 350px;
    height: 20px;
    left: 0;
    top: 230px;
    border-radius: 100px;
    background-color: #212f3c;
    z-index: 5;
}

.holder::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 150px;
    background-color: #cacfd2;
    left: 125px;
    top: 20px;
}

.holder::after {
    content: "";
    position: absolute;
    background-color: #68b0ab;
    width: 100px;
    height: 135px;
    border-radius: 30px 30px 0 0;
    left: 65px;
    top: 20px;
    box-shadow: 125px 0 #68b0ab;
}

/* =========================
   SHADOW
========================= */

.shadow {
    position: absolute;
    width: 350px;
    height: 20px;
    border-radius: 50%;
    top: 365px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.095);
    z-index: 1;
}

.shadow::before {
    content: "";
    position: absolute;
    background-color: #cacfd2;
    width: 150px;
    height: 20px;
    border-radius: 20px;
    top: -10px;
    left: 100px;
}

/* =========================
   CAKE
========================= */

.cake {
    position: absolute;
    overflow: hidden;
    width: 275px;
    height: 140px;
    background-color: #fad7a0;

    /*
      Cake diposisikan tepat di tengah holder.
      350 - 275 = 75 / 2 = 37.5
    */
    left: 37.5px;
    top: 100px;

    border-radius: 30px 30px 0 0;
    z-index: 3;
}

/* Lapisan garis cake */

.cake::before {
    content: "";
    position: absolute;
    background-color: #935116;

    width: 275px;
    height: 15px;

    top: 75px;
    left: 0;

    box-shadow: 0 30px #935116;
}

/* Bagian chocolate atas */

.cake::after {
    content: "";
    position: absolute;

    background-color: #573612;

    width: 275px;
    height: 40px;

    top: 0;
    left: 0;

    box-shadow: inset 0 10px rgba(0, 0, 0, 0.07);
}

/* =========================
   CHOCOLATE DRIP
========================= */

.chocolate {
    position: absolute;

    background-color: #573612;

    width: 25px;
    height: 45px;

    top: 25px;
    left: 0;

    z-index: 4;

    border-radius: 50px;

    box-shadow:
        25px 2px #fad7a0,
        50px -10px #573612,
        75px -5px #fad7a0,
        100px 3px #573612,
        125px 0 #fad7a0,
        150px -5px #573612,
        175px 3px #fad7a0,
        200px -5px #573612,
        225px -10px #fad7a0,
        250px 40px #573612;
}

/* =========================
   CANDLE
========================= */

.candle {
    position: absolute;

    width: 15px;
    height: 70px;

    /*
      Tengah cake:
      37.5 + (275 / 2) - (15 / 2)
      = 167.5
    */
    left: 167.5px;
    top: 35px;

    background-color: white;

    z-index: 6;

    box-shadow: inset 0 -10px #e74c3c;
}

.candle::before {
    content: "";

    position: absolute;

    width: 15px;
    height: 15px;

    top: 10px;
    left: 0;

    background-color: #e74c3c;

    box-shadow:
        0 25px #e74c3c;
}

.candle::after {
    content: "";

    position: absolute;

    width: 2px;
    height: 15px;

    background-color: black;

    top: -15px;
    left: 6px;
}

/* =========================
   FLAME
========================= */

.flame {
    position: absolute;

    width: 20px;
    height: 30px;

    /*
      Flame tepat di tengah candle
    */
    left: 165px;
    top: 0;

    border-radius: 50%;

    background-color: #f4d03f;

    opacity: 0.9;

    z-index: 7;

    box-shadow:
        inset 0 -5px 5px #d35400,
        5px -5px 20px #fbffa3;

    animation: flame 0.5s infinite;
}

@keyframes flame {
    from,
    to {
        transform: scale(1.1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}